html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background: white;
}

#map {
    width: 100%;
    height: 100%;
}

//#mapid {
//  transition-delay: 1s;
//}

.material-icons {
    font-size: 15px !important;
}

.top-panel {}

.top-panel-first {}

.top-panel-map-buttons {
    width: 35px !important;
}

/*General marker style*/

.map-marker {
    position: relative;
    background: rgba(0, 0, 0, 0);
    width: 55px;
    height: 55px;
    border-radius: 5px;
    margin-top: -48px;
    /*Shift by arrow top+height*/
    margin-left: -28px;
    /*Shift by half the marker width*/
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.Select-menu {
    z-index: 2 !important;
}

.bm-menu-wrap {
    z-index: 0 !important;
}

#mainContainer {
  position:absolute;
  width:100%;
  height:100%;
  display: flex;
  flex-direction:column;
  min-width: inherit;
  min-height: inherit; 
}

.flex{
  flex:1;
  display:flex;
}

.sidebar-inner {
  display:none;
  overflow-y:scroll;
  height:100%;
}

.mapwrap{
  flex:1;
}

#topBtn {
    z-index: 1;
}

#maps_panel.active {
    height: 50px;
    z-index:3000;
}

#visible_devices_list {
    overflow: auto;
}

.__react_component_tooltip.place-bottom {
    line-height: 1.4;
}

.modal-backdrop{
    z-index: 3000;
}

.fade.in.modal{
    z-index: 3001 !important;
}

.map-loader{
    font-size: 20px !important;
    color: #d0d0d0;
}

.subHeader{
  color: #cccccc;
  font-size: 10px;
}